.main {
  max-height: calc(var(--offset-base-size) * 116);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
}

.ingredient {
  position: relative;
  display: flex;
  align-items: center;
}

.ingredient > svg {
  position: absolute;
  left: 0;
}

.ingredient__card {
  display: inline-flex;
  align-items: center;
}

.ingredient__card>span {
    width: 100%;
}
