body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  margin: 0 auto;
  max-width: calc(var(--offset-base-size) * 320);
}

* {
  box-sizing: border-box;
}

.h-100 {
  height: 100%;
}

.pt-24 {
  padding-top: calc(var(--offset-base-size) * 24);
}

.pb-24 {
  padding-bottom: calc(var(--offset-base-size) * 24);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
